@use '@styles/variables' as style;

.skills {
	display: flex;
	flex-direction: column;
	gap: style.$gap-block-descktop;

	@media (max-width: 768px) {
		gap: style.$gap-block-tab;
	}

	@media (max-width: 480px) {
		gap: style.$gap-block-mobile;
	}

	& .skills__title {
		display: flex;
		justify-content: center;
		font-size: style.$fs-title-descktop;

		@media (max-width: 768px) {
			font-size: style.$fs-title-tab;
		}

		@media (max-width: 480px) {
			font-size: style.$fs-title-mobile;
		}
	}

	& .skills__list {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;

		& .skills__list-card {
			flex-direction: column;
			max-width: 350px;
			width: 100%;
		}
	}
}
