body.white {
	&.header {
		@media (max-width: 480px) {
			background-color: #adadad;
		}
	}
}

.header {
	padding: 25px 0;

	@media (max-width: 768px) {
		padding: 15px 0;
	}


	&-container {
		display: flex;
		justify-content: space-between;

		@media (max-width: 768px) {
			flex-wrap: wrap-reverse;
		}

		@media (max-width: 480px) {
			justify-content: space-between;
			gap: 5px;
		}

		.header__nav {
			display: flex;
			justify-content: start;

			@media (max-width: 480px) {
				width: 100%;
			}

			&-list {
				display: flex;
				flex-wrap: wrap;
				gap: 30px;
				width: 100%;

				@media (max-width: 768px) {
					gap: 10px;
				}

				@media (max-width: 480px) {
					display: none;
					justify-content: center;
					gap: 5px;
				}

				& .header__nav-item {
					position: relative;
					padding: 10px 15px;

					@media (max-width: 768px) {
						padding: 5px;
					}

					& .header__nav-link {
						display: flex;
						flex-direction: column;
						gap: 3px;
						text-decoration: none;
						font-size: 18px;
						font-weight: 500;
						border-radius: 5px;
						border: 2px solid transparent;
						outline: none;
						transition: color 0.3s, background-color 0.3s;

						@media (max-width: 768px) {
							font-size: 14px;
						}

						&:hover {
							color: #ffcc00;
						}

						&::after {
							content: '';
							display: block;
							width: 0;
							height: 2px;
							background: #ffcc00;
							transition: width 0.3s;
							margin: 0 auto;
						}

						&:hover::after {
							width: 100%;
						}

						&:focus:not(:hover)::after {
							width: 100%;
						}

						&:active {
							color: #ffaa00;
							background-color: rgba(255, 255, 255, 0.2);
						}
					}
				}
			}
		}

		& .switch {
			@media (max-width: 480px) {
				display: none;
			}
		}

		& .burger .switch {
			@media (max-width: 480px) {
				display: flex;
			}
		}
	}
}
