.header {
	padding: 25px 0;
	z-index: 2;
}

.header__block {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__block--title {
	color: #5b7e7b;
	font-size: 50px;
}

@media (max-width: 600px) {
	.header__block--title {
		font-size: 28px;
	}
}
