@use '@styles/_variables' as style;
@use '@styles/_card.scss';

.skills {
	display: flex;
	flex-direction: column;
	gap: style.$gap-block-descktop;

	@media (max-width: 768px) {
		gap: style.$gap-block-tab;
	}

	@media (max-width: 480px) {
		gap: style.$gap-block-mobile;
	}

	&__title {
		display: flex;
		justify-content: start;
		font-size: style.$fs-title-descktop;

		@media (max-width: 768px) {
			font-size: style.$fs-title-tab;
		}

		@media (max-width: 480px) {
			font-size: style.$fs-title-mobile;
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;

		&-card {
			flex-direction: column;
			max-width: 300px;
			width: 100%;
		}
	}
}
