// MARGIN
$main-margin-descktop: 40px 0;
$main-margin-tab: 20px 0;
$main-margin-mobile: 10px 0;
// MARGIN

// PADDING
$container-padding-descktop: 0 30px;
$container-padding-tab: 0 20px;
$container-padding-mobile: 0 15px;

$section-padding-descktop: 50px 0;
$section-padding-tab: 30px 0;
$section-padding-mobile: 20px 0;

// PADDING

// FONT SIZE
$fs-fullname-descktop: 34px;
$fs-fullname-tab: 26px;
$fs-fullname-mobile: 18px;

$fs-work-descktop: 24px;
$fs-work-tab: 16px;
$fs-work-mobile: 14px;

$fs-title-descktop: 36px;
$fs-title-tab: 28px;
$fs-title-mobile: 24px;

$fs-descr-descktop: 18px;
$fs-descr-tab: 14px;
$fs-descr-mobile: 12px;
// FONT SIZE

// GAP
$gap-section-descktop: 20px;
$gap-section-tab: 15px;
$gap-section-mobile: 10px;
// GAP

// COLOR
$white-theme-color: #002366;
$dark-theme-color: #ffffff;
$hover-color: #ffcc00;
// COLOR
