$fs-title-descktop: 36px;
$fs-title-tab: 28px;
$fs-title-mobile: 24px;
$fs-fullname-descktop: 48px;
$fs-fullname-tab: 38px;
$fs-fullname-mobile: 32px;
$gap-block-descktop: 40px;
$gap-block-tab: 25px;
$gap-block-mobile: 20px;
