@import '../../../styles/variables.scss';

.projects {
	display: flex;
	flex-direction: column;
	gap: $gap-block-descktop;

	@media (max-width: 768px) {
		gap: $gap-block-tab;
	}

	@media (max-width: 480px) {
		gap: $gap-block-mobile;
	}

	& .projects__title {
		display: flex;
		justify-content: center;
		font-size: $fs-title-descktop;

		@media (max-width: 768px) {
			font-size: $fs-title-tab;
		}

		@media (max-width: 480px) {
			font-size: $fs-title-mobile;
		}
	}

	& .projects__list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 20px;
		padding: 10px 0;

		@media (max-width: 768px) {
			gap: 10px;
		}

		& .projects__list-item {
			display: flex;
			position: relative;
			flex-direction: column;
			align-items: center;
			text-align: center;
			max-width: 440px;
			width: 100%;
			height: auto;
			padding: 10px;
			gap: 10px;
			color: #b3b8cd;
			box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
			background-color: #231e39;
			border-radius: 5px;

			@media (max-width: 768px) {
				max-width: 330px;
			}
		}
	}
}
