@use '@styles/variables' as style;
.white {
	.switch {
		.moon svg {
			&:hover {
				color: #fff;
			}
		}
	}
}

body:not(.white) .sun svg {
	&:hover {
		color: yellow;
	}
}

.switch {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 10px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	@media (max-width: 480px) {
		gap: 3px;
	}

	& .icon svg {
		display: block;
		width: 25px;
		height: 25px;
		background-size: cover;
		transition: color 0.3s ease-in-out;

		@media (max-width: 480px) {
			width: 15px;
			height: 15px;
		}
	}

	& .toggle-wrapper {
		display: flex;
		cursor: pointer;

		#switch {
			height: 0;
			width: 0;
			visibility: hidden;
			position: absolute;
		}

		#toggle {
			cursor: pointer;
			width: 45px;
			height: 25px;
			background: grey;
			display: block;
			border-radius: 100px;
			position: relative;

			@media (max-width: 480px) {
				width: 30px;
				height: 15px;
			}

			&::before {
				transition: all 0.2s ease-in-out;
				content: '';
				position: absolute;
				top: 3px;
				left: 3px;
				width: 19px;
				height: 19px;
				background: #fff;
				border-radius: 100%;

				@media (max-width: 480px) {
					top: 1px;
					left: 0px;
					width: 13px;
					height: 13px;
				}
			}
		}
		#switch:checked + #toggle {
			background: #4e4e50; // Цвет для включенного состояния
		}

		#switch:checked + #toggle::before {
			transform: translateX(20px);
			background: #fff; // Цвет "ползунка" в активном состоянии
		}
	}
}
