.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	gap: 25px;

	& .card__img {
		max-width: 150px;
		border-radius: 8px;
	}

	& .card__fullname {
		font-size: 48px;
		font-weight: 400;
	}

	& .card__work {
		font-size: 28px;
		font-weight: 400;
		opacity: 0.5;
	}
}

.biography {
	max-width: 40%;

	& > p {
		opacity: 0.5;
		line-height: 1.5;
		text-align: start;
		font-size: 20px;
		font-weight: 400;
	}
}
