@use '@styles/variables' as style;

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	gap: 25px;
	z-index: 1000;
	max-width: 500px;
	width: 100%;

	@media (max-width: 768px) {
		gap: 10px;
	}

	@media (max-width: 480px) {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr auto;
		align-items: start;
		gap: 10px;
	}

	& .card__img {
		max-width: 100%;
		border-radius: 8px;

		@media (max-width: 480px) {
			grid-row: span 2;
		}
	}

	& .card__fullname {
		font-size: style.$fs-fullname-descktop;
		font-weight: 400;

		@media (max-width: 768px) {
			font-size: style.$fs-fullname-tab;
		}

		@media (max-width: 480px) {
			font-size: style.$fs-fullname-mobile;
			margin: 0;
		}
	}

	& .card__work {
		font-size: 28px;
		font-weight: 400;
		opacity: 0.5;

		font-size: style.$fs-work-descktop;
		font-weight: 400;

		@media (max-width: 768px) {
			font-size: style.$fs-work-tab;
		}

		@media (max-width: 480px) {
			grid-column: 2;
			font-size: style.$fs-work-mobile;
		}
	}
}

.biography {
	max-width: 50%;

	@media (max-width: 480px) {
		max-width: 100%;
	}

	& .biography__item {
		opacity: 0.5;
		line-height: 1.5;
		text-align: start;
		font-size: style.$fs-descr-descktop;
		font-weight: 400;
		pointer-events: none;

		@media (max-width: 768px) {
			font-size: style.$fs-descr-tab;
		}

		@media (max-width: 480px) {
			font-size: style.$fs-descr-mobile;
		}
	}
}
