@use '@styles/variables' as style;

.certificates {
	display: flex;
	flex-direction: column;
	gap: style.$gap-section-descktop;

	@media (max-width: 768px) {
		gap: style.$gap-section-tab;
	}

	@media (max-width: 480px) {
		gap: style.$gap-section-mobile;
	}

	&__title {
		display: flex;
		justify-content: start;
		font-size: style.$fs-title-descktop;

		@media (max-width: 768px) {
			font-size: style.$fs-title-tab;
		}

		@media (max-width: 480px) {
			font-size: style.$fs-title-mobile;
		}
	}

	&__list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 30px;

		@media (max-width: 480px) {
			gap: 10px;
		}
	}
}

.swiper.swiper-cards {
	width: 200px;
	height: 283px;
	margin-left: 33px;
}

.swiper-slide {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 18px;
	font-size: 22px;
	font-weight: bold;
	color: #fff;
}
