@use '@styles/_variables' as style;

.skills {
	display: flex;
	flex-direction: column;
	gap: style.$gap-section-descktop;

	@media (max-width: 768px) {
		gap: style.$gap-section-tab;
	}

	@media (max-width: 480px) {
		gap: style.$gap-section-mobile;
	}

	&__title {
		display: flex;
		justify-content: start;
		font-size: style.$fs-title-descktop;

		@media (max-width: 768px) {
			font-size: style.$fs-title-tab;
		}

		@media (max-width: 480px) {
			font-size: style.$fs-title-mobile;
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;

		&-card {
			flex-direction: column;
			max-width: 300px;
			width: 100%;

			@media (max-width: 768px) {
				flex-basis: calc(50% - 10px);
			}

			@media (max-width: 480px) {
				flex-basis: 100%;
				max-width: 100%;
			}
		}
	}
}
