.title {
	color: #3beff5;
	font-size: 28px;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	padding: 50px 0;
	justify-content: center;
	align-items: center;
}

.cardLink {
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 20px;
	width: 100%;
	min-width: 150px;
	height: 150px;
	font-size: 30px;
	justify-content: center;
	text-align: center;
	border: 2px solid transparent;
	cursor: pointer;
}

.card {
	display: flex;
	width: 300px;
	border-radius: 8px;
}

.cardTitle {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.frontend {
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('/public/frontend.jpg');
}

.backend {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('/public/back.jpg');
}

.fullstack {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('/public/full-stack.png');
}
