.white {
	& .contacts {
		&__link svg {
			width: 30px;
			height: 30px;
			color: #002366;
			opacity: .5;
		}

		&__link {
			display: flex;
			align-items: center;
			transition: all 0.3s ease-in-out;

			:hover {
				color: white;
				transition: all 0.3s ease-in-out;
			}
		}
	}
}

.contacts {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;

	&__links {
		display: flex;
		justify-content: space-around;
		gap: 20px;
	}

	&__link svg {
		width: 30px;
		height: 30px;
		color: gray;
	}

	&__link {
		display: flex;
		align-items: center;
		transition: all 0.3s ease-in-out;

		:hover {
			color: white;
			transition: all 0.3s ease-in-out;
		}
	}
}
